{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="container">
        <nav id="navbar">
            <div id="imgContainer">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz8F0fAiUiF60ZAK_M8Svx_4lqz174Fr6f3g&usqp=CAU" alt="logo">
            </div>

            <div id="menuContainer">
                <p>Home</p>
                <p>Who am I ?</p>
                <p>FAQ</p>
                <p>Contact</p>
                <button>Log in</button>
            </div>
        </nav>

        <div id="middlePage">

            <section id="quote">
                <p>Insert quote here</p>
            </section>

            <section id="slider">
                <p>Make a slider here</p>
            </section>

        </div>
    </div>
{% endblock %}
