{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="container">
        <nav id="navbar">
            <div id="imgContainer">
                <img src="https://www.sweeetch-alternance.com/wp-content/uploads/2022/02/Sans-fondFichier-1-6.svg" alt="Sweeetch logo">
            </div>

            <div id="ulContainer">
                <ul>
                    <li>La solution Sweeetch</li>
                    <li>FAQ</li>
                    <li>Le blog</li>
                    <li>Nos écoles en alternance</li>
                    <li>Se connecter</li>
                    <li><Button>S'inscrire</Button></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
