{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="container">
        <nav id="navbar">
            <div id="imgContainer">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/USB_icon.svg/2560px-USB_icon.svg.png" alt="logo">
            </div>

            <div id="menuContainer">
                <p>Home</p>
                <p>Who am I ?</p>
                <p>FAQ</p>
                <p>Contact</p>
                <button>Log in</button>
            </div>
        </nav>
    </div>
{% endblock %}
