{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div id="container">

        {% block navbar %}
            {{ parent() }}
        {% endblock %}

        <div id="middlePage">

            <section id="quote" class="js-tilt">
                <p>"WORK LESS, PRODUCE MORE"</p>
            </section>

            <section id="slider">
                <div>
                    <i class="fa-solid fa-book-open"></i>
                    <p>Portfolio</p>
                </div>

            </section>

        </div>
    </div>
{% endblock %}
