{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

    <div id="portfolioContainer">
        {% block navbar %}
            {{ parent() }}
        {% endblock %}

        <section id="exempleContainer">

            <div class="exemple">
                <h3>Parallax</h3>
                <div id="parallax" class="js-tilt">
                    <p>3D</p>
                </div>
            </div>


            <div class="exemple">
                <h3>Light Tube</h3>
                <div id="lightTube">
                    <p>CINEMA</p>
                </div>
            </div>

            <div class="exemple">
                <h3>Caroussel (click & drag)</h3>
                <div id="imageTrack" data-mouse-down-at="0" data-prev-percentage="0">
                    <img class="image" src="https://images.unsplash.com/photo-1677549254885-cf55be3e552b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Nature_1" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1677050564225-a22616ed37f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQzfHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Nature_2" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1677383287914-621482c71074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDd8SnBnNktpZGwtSGt8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="Nature_3" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1607419726991-5fc7e74cda67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y3liZXJwdW5rfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Nature_4" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1677246835517-de21adb0e7cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8cVBZc0R6dkpPWWN8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="Nature_5" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1601042879364-f3947d3f9c16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y3liZXJwdW5rfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Nature_6" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1574388548306-1e8e7aea8be4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGN5YmVycHVua3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Nature_7" draggable="false">
                    <img class="image" src="https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Nature_8" draggable="false">
                </div>
            </div>

        </section>

    </div>

{% endblock %}
